# Twitter analytics project

In [2]:
pip install python-decouple

Collecting python-decouple
  Using cached python_decouple-3.4-py3-none-any.whl (9.5 kB)
Installing collected packages: python-decouple
Successfully installed python-decouple-3.4
Note: you may need to restart the kernel to use updated packages.

In [9]:
from decouple import config

In [11]:
pip install tweepy

WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Frameworks/Python.framework/Versions/3.8/include/python3.8/UNKNOWN
sysconfig: /Library/Frameworks/Python.framework/Versions/3.8/include/python3.8
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
Requirement already satisfied: tweepy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (3.10.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from tweepy) (2.24.0)
Requirement already satisfied: six>=1.10.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from tweepy) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)
Requirement already satisfied: idna<3,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (1.25.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Frameworks/Python.framework/Versions/3.8/include/python3.8/UNKNOWN
sysconfig: /Library/Frameworks/Python.framework/Versions/3.8/include/python3.8
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install json

ERROR: Could not find a version that satisfies the requirement json (from versions: none)
ERROR: No matching distribution found for json
Note: you may need to restart the kernel to use updated packages.

In [12]:
import tweepy
import json


# 4 cadenas para la autenticacion

consumer_key=config('consumer_key')
consumer_secret=config('consumer_secret')
access_token=config('access_token')
access_token_secret= config('access_token_secret')

auth= tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)


api= tweepy.API(auth, wait_on_rate_limit=True,
	wait_on_rate_limit_notify=True)
tweets=api.search("Disney", count=100)

In [4]:
pip install textblob

WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Frameworks/Python.framework/Versions/3.8/include/python3.8/UNKNOWN
sysconfig: /Library/Frameworks/Python.framework/Versions/3.8/include/python3.8
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
Collecting textblob
  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 636 kB 4.3 MB/s eta 0:00:01
Collecting nltk>=3.1
  Downloading nltk-3.6.2-py3-none-any.whl (1.5 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.5 MB 10.3 MB/s eta 0:00:01
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from nltk>=3.1->textblob) (4.48.0)
Requirement already satisfied: click in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: joblib in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from nltk>=3.1->textblob) (0.16.0)
Collecting regex
  Downloading regex-2021.4.4-cp38-cp38-macosx_10_9_x86_64.whl (284 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 284 kB 32.0 MB/s eta 0:00:01
Installing collected packages: regex, nltk, textblob
WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Frameworks/Python.framework/Versions/3.8/include/python3.8/UNKNOWN
sysconfig: /Library/Frameworks/Python.framework/Versions/3.8/include/python3.8
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
Successfully installed nltk-3.6.2 regex-2021.4.4 textblob-0.15.3
Note: you may need to restart the kernel to use updated packages.

In [13]:
import re
import pandas as pd
from textblob import TextBlob
#create a dataframe
df=pd.DataFrame(columns=('tweet_text', 'tweet_sentiment', 'tweet_subjectivity',
							'user_followers_count','user_friends_count',
							'user_account_age', 'user_verified',
							'user_favourites_count', 'user_tweets',
							'tweet_retweeted', 'tweet_retweet_count', 'tweet_favorite_count'))
#Remove duplicates

df.sort_values('tweet_text', inplace=True)
df.drop_duplicates(subset="tweet_text", keep=False, inplace=True)

Empty DataFrame
Columns: [tweet_text, tweet_sentiment, tweet_subjectivity, user_followers_count, user_friends_count, user_account_age, user_verified, user_favourites_count, user_tweets, tweet_retweeted, tweet_retweet_count, tweet_favorite_count]
Index: []

In [14]:
for tweet in tweets:
	sentimentText=TextBlob(tweet.text)
	df=df.append({'tweet_text':re.sub(r'http\S+','', tweet.text), 
				 'tweet_sentiment':sentimentText.sentiment.polarity, 
				 'tweet_subjectivity': sentimentText.sentiment.subjectivity,
				'user_followers_count': tweet.user.followers_count,
				'user_friends_count': tweet.user.friends_count,
				'user_account_age': tweet.user.created_at, 
				'user_verified': tweet.user.verified,
				'user_favourites_count':tweet.user.favourites_count,
				'user_tweets': tweet.user.statuses_count,
				'tweet_retweeted': tweet.retweeted,
				'tweet_retweet_count': tweet.retweet_count, 
				'tweet_favorite_count': tweet.favorite_count},
				ignore_index=True)

In [15]:
df.head()

,tweet_text,tweet_sentiment,tweet_subjectivity,user_followers_count,user_friends_count,user_account_age,user_verified,user_favourites_count,user_tweets,tweet_retweeted,tweet_retweet_count,tweet_favorite_count
0,"RT @che___xo: ""Hi this is Mo Salah and this is...",0.0000,0.000,3,111,2021-04-02 16:45:23,False,56,82,False,14129,0
1,RT @MikeSington: The original Disneyland park ...,0.1625,0.575,2971,4357,2010-10-01 12:58:10,False,56281,65470,False,14,0
2,RT @4everBrandy: Starting Now out 5/21 âœ¨ @disn...,0.0000,0.100,22,54,2020-06-21 18:24:06,False,12357,22177,False,215,0
3,sebastian stan as disney princesses; a thread,0.0000,0.000,4982,4010,2014-09-07 15:17:58,False,70481,40343,False,0,0
4,@mickey_smash it was published by Disney,0.0000,0.000,204,400,2021-04-01 19:08:03,False,1328,536,False,0,0

In [16]:
#tweet length

df['tweet_text_length']=df['tweet_text'].apply(lambda x: len(x) - x.count(" "))

#Count of punctuation in the tweet

import string

def count_punc(text):
	count = sum ([1 for char in text if char in string.punctuation])
	return count
df['tweet_text_punc_count']= df['tweet_text'].apply(lambda x: count_punc(x))

df.head()

,tweet_text,tweet_sentiment,tweet_subjectivity,user_followers_count,user_friends_count,user_account_age,user_verified,user_favourites_count,user_tweets,tweet_retweeted,tweet_retweet_count,tweet_favorite_count,tweet_text_length,tweet_text_punc_count
0,"RT @che___xo: ""Hi this is Mo Salah and this is...",0.0000,0.000,3,111,2021-04-02 16:45:23,False,56,82,False,14129,0,79,8
1,RT @MikeSington: The original Disneyland park ...,0.1625,0.575,2971,4357,2010-10-01 12:58:10,False,56281,65470,False,14,0,119,4
2,RT @4everBrandy: Starting Now out 5/21 âœ¨ @disn...,0.0000,0.100,22,54,2020-06-21 18:24:06,False,12357,22177,False,215,0,70,5
3,sebastian stan as disney princesses; a thread,0.0000,0.000,4982,4010,2014-09-07 15:17:58,False,70481,40343,False,0,0,39,1
4,@mickey_smash it was published by Disney,0.0000,0.000,204,400,2021-04-01 19:08:03,False,1328,536,False,0,0,35,2

In [17]:
df1=df.head(10)
df1

,tweet_text,tweet_sentiment,tweet_subjectivity,user_followers_count,user_friends_count,user_account_age,user_verified,user_favourites_count,user_tweets,tweet_retweeted,tweet_retweet_count,tweet_favorite_count,tweet_text_length,tweet_text_punc_count
0,"RT @che___xo: ""Hi this is Mo Salah and this is...",0.0000,0.000,3,111,2021-04-02 16:45:23,False,56,82,False,14129,0,79,8
1,RT @MikeSington: The original Disneyland park ...,0.1625,0.575,2971,4357,2010-10-01 12:58:10,False,56281,65470,False,14,0,119,4
2,RT @4everBrandy: Starting Now out 5/21 âœ¨ @disn...,0.0000,0.100,22,54,2020-06-21 18:24:06,False,12357,22177,False,215,0,70,5
3,sebastian stan as disney princesses; a thread,0.0000,0.000,4982,4010,2014-09-07 15:17:58,False,70481,40343,False,0,0,39,1
4,@mickey_smash it was published by Disney,0.0000,0.000,204,400,2021-04-01 19:08:03,False,1328,536,False,0,0,35,2
5,@4everBrandyðŸ’›ðŸŽ¤ Starting Now out 5/21 âœ¨ disney\...,0.0000,0.100,22,54,2020-06-21 18:24:06,False,12357,22177,False,0,0,68,3
6,@Xelos03 @DisneyPlusFR Non les programmes qui ...,0.0000,0.000,1,75,2020-08-27 14:53:45,False,43,211,False,0,0,111,3
7,@DCsDoctorFate theoretically could another stu...,0.1500,0.250,779,2629,2010-05-31 03:29:06,False,7276,46910,False,0,0,99,1
8,Dumbo Pluto Salt Pepper Shakers Minnie Mouse V...,0.0000,0.000,545,967,2012-12-06 03:08:53,False,44,11211,False,0,0,72,1
9,@vickstrrr_ I think Sony was selling it to the...,0.0000,0.000,1202,1823,2017-04-19 05:18:19,False,28021,14652,False,0,0,93,3

### Watson

In [18]:
pip install watson_developer_cloud

WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Frameworks/Python.framework/Versions/3.8/include/python3.8/UNKNOWN
sysconfig: /Library/Frameworks/Python.framework/Versions/3.8/include/python3.8
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
Requirement already satisfied: watson_developer_cloud in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (2.10.1)
Requirement already satisfied: requests<3.0,>=2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from watson_developer_cloud) (2.24.0)
Requirement already satisfied: python-dateutil>=2.5.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from watson_developer_cloud) (2.8.1)
Requirement already satisfied: websocket-client==0.48.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from watson_developer_cloud) (0.48.0)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from websocket-client==0.48.0->watson_developer_cloud) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0,>=2.0->watson_developer_cloud) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0,>=2.0->watson_developer_cloud) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0,>=2.0->watson_developer_cloud) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0,>=2.0->watson_developer_cloud) (1.25.10)
WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Library/Frameworks/Python.framework/Versions/3.8/include/python3.8/UNKNOWN
sysconfig: /Library/Frameworks/Python.framework/Versions/3.8/include/python3.8
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
Note: you may need to restart the kernel to use updated packages.

In [19]:
import json
import numpy as np
import pandas as pd

from watson_developer_cloud import NaturalLanguageUnderstandingV1
from watson_developer_cloud.natural_language_understanding_v1 import Features, EmotionOptions, SentimentOptions


service= NaturalLanguageUnderstandingV1(
    version='2018-11-16',
    iam_apikey=config('iam_apikey'),
    url='https://api.eu-gb.natural-language-understanding.watson.cloud.ibm.com/instances/122a22f4-6028-4995-9d41-136f4b49ce1d')


def analisis_watson(text):
    text = text.decode("utf-8")
    print(text)
    response = service.analyze(
        text=text,features=Features(emotion=EmotionOptions(), sentiment=SentimentOptions()))
    return response

<ipython-input-19-3005f76aa64f>:9: DeprecationWarning: watson-developer-cloud moved to ibm-watson. To get updates, use the new package.
  service= NaturalLanguageUnderstandingV1(

In [20]:
def sentiment_and_keyword(st,service=service):
    return (service.analyze(text=st,features=Features(emotion=EmotionOptions(),
                                                      sentiment=SentimentOptions())).get_result())

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [21]:
df1['sentiment_keyword_json'] = df1.apply(lambda row : sentiment_and_keyword(str(row['tweet_text'])),axis = 1)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
<ipython-input-21-f88826743e80>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['sentiment_keyword_json'] = df1.apply(lambda row : sentiment_and_keyword(str(row['tweet_text'])),axis = 1)

In [22]:
def sentiment_extractor(row_num):
    sentiment_scores=df1['sentiment_keyword_json'][row_num]['sentiment']['document']
    return sentiment_scores

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [23]:
df1['sentiment_score'] = df1.apply(lambda row : sentiment_extractor(row.name),axis = 1)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
<ipython-input-23-291249aaa33a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['sentiment_score'] = df1.apply(lambda row : sentiment_extractor(row.name),axis = 1)

In [24]:
df1

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,tweet_text,tweet_sentiment,tweet_subjectivity,user_followers_count,user_friends_count,user_account_age,user_verified,user_favourites_count,user_tweets,tweet_retweeted,tweet_retweet_count,tweet_favorite_count,tweet_text_length,tweet_text_punc_count,sentiment_keyword_json,sentiment_score
0,"RT @che___xo: ""Hi this is Mo Salah and this is...",0.0000,0.000,3,111,2021-04-02 16:45:23,False,56,82,False,14129,0,79,8,"{'usage': {'text_units': 1, 'text_characters':...","{'score': 0, 'label': 'neutral'}"
1,RT @MikeSington: The original Disneyland park ...,0.1625,0.575,2971,4357,2010-10-01 12:58:10,False,56281,65470,False,14,0,119,4,"{'usage': {'text_units': 1, 'text_characters':...","{'score': -0.846156, 'label': 'negative'}"
2,RT @4everBrandy: Starting Now out 5/21 âœ¨ @disn...,0.0000,0.100,22,54,2020-06-21 18:24:06,False,12357,22177,False,215,0,70,5,"{'usage': {'text_units': 1, 'text_characters':...","{'score': 0, 'label': 'neutral'}"
3,sebastian stan as disney princesses; a thread,0.0000,0.000,4982,4010,2014-09-07 15:17:58,False,70481,40343,False,0,0,39,1,"{'usage': {'text_units': 1, 'text_characters':...","{'score': 0, 'label': 'neutral'}"
4,@mickey_smash it was published by Disney,0.0000,0.000,204,400,2021-04-01 19:08:03,False,1328,536,False,0,0,35,2,"{'usage': {'text_units': 1, 'text_characters':...","{'score': 0, 'label': 'neutral'}"
5,@4everBrandyðŸ’›ðŸŽ¤ Starting Now out 5/21 âœ¨ disney\...,0.0000,0.100,22,54,2020-06-21 18:24:06,False,12357,22177,False,0,0,68,3,"{'usage': {'text_units': 1, 'text_characters':...","{'score': 0, 'label': 'neutral'}"
6,@Xelos03 @DisneyPlusFR Non les programmes qui ...,0.0000,0.000,1,75,2020-08-27 14:53:45,False,43,211,False,0,0,111,3,"{'usage': {'text_units': 1, 'text_characters':...","{'score': 0, 'label': 'neutral'}"
7,@DCsDoctorFate theoretically could another stu...,0.1500,0.250,779,2629,2010-05-31 03:29:06,False,7276,46910,False,0,0,99,1,"{'usage': {'text_units': 1, 'text_characters':...","{'score': -0.311955, 'label': 'negative'}"
8,Dumbo Pluto Salt Pepper Shakers Minnie Mouse V...,0.0000,0.000,545,967,2012-12-06 03:08:53,False,44,11211,False,0,0,72,1,"{'usage': {'text_units': 1, 'text_characters':...","{'score': 0, 'label': 'neutral'}"
9,@vickstrrr_ I think Sony was selling it to the...,0.0000,0.000,1202,1823,2017-04-19 05:18:19,False,28021,14652,False,0,0,93,3,"{'usage': {'text_units': 1, 'text_characters':...","{'score': -0.243562, 'label': 'negative'}"